@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

@section Scripts
    {
    <script>
        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder().withAutomaticReconnect([1000, 2000, 3000, 6000]).withUrl("https://localhost:44345/MyHub").build();

            function statusshow() {
                $("#constatus").text(connection.connectionState);
            }

            statusshow();



            connection.start().then(() => {
                statusshow();
            });
            $("#btnsave").click(() => {
                connection.invoke("sendname", $("#txtname").val());
            });
            connection.on("receivername", (name) => {
                console.log(name);
            });
            connection.on("receiveclientcount", (ClientCount) => {
                $("#clientcount").text(ClientCount)
            })

        });
    </script>
}
<div class="row">
    <div class="col-md-8 offset-2">
        <input type="text" class="form-control" id="txtname" />
        <hr />
        <button class="btn btn-warning" id="btnsave">İsmi Kaydet</button>

        <button class="btn btn-warning" id="btnroomname">Odaya Kişi Ekle</button>

        <div class="alert alert-info mt-2">
            <div>
                Bağlantı Durumu: <strong id="constatus"></strong>
                Client Sayısı: <strong id="clientcount"></strong>
            </div>
        </div>
    </div>
</div>